@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

@font-face {
	font-family: 'TT Travels Text';
	src: url('../fonts/TT_Travels_Text_Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'TT Travels Text';
	src: url('../fonts/TT_Travels_Text_Bold.woff2') format('woff2');
	font-weight: bold;
}

body {
	font-family: "TT Travels Text", sans-serif;

	& h1 {
		font-size: clamp(40px, 12vw, 197px);
	}

	& h2 {
		font-size: clamp(32px, 2.5vw, 64px);
	}

	& h3 {
		font-size: clamp(26px, 2vw, 48px);
	}

	& h4 {
		font-size: clamp(20px, 1.5vw, 32px);
	}

	& big {
		font-size: clamp(18px, 1.5vw, 22px);
	}

	& small {
		font-size: clamp(12px, 1vw, 14px);
	}

	color: $text;
}
